name: e2e

on: [pull_request]

jobs:
  build-run:
    runs-on: macos-11

    steps:
      - name: Setup Xcode
        uses: maxim-lobanov/setup-xcode@v1.1
        with:
          xcode-version: 13.0	

      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - name: Node
        uses: actions/setup-node@v1
        with:
          node-version: 12.x

      - run: node --version

      - name: Cache node modules
        uses: actions/cache@v1
        id: cache
        with:
          path: node_modules
          key: node-modules-${{ hashFiles('**/yarn.lock') }}

      - name: Rebuild detox
        if: steps.cache.outputs.cache-hit == 'true'
        run: yarn detox clean-framework-cache && yarn detox build-framework-cache

      - name: Install Dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: yarn install

      - name: Cache Pods
        uses: actions/cache@v1
        id: podcache
        with:
          path: ios/Pods
          key: pods-${{ hashFiles('**/Podfile.lock') }}

      - name: Update Pods
        run: |
          gem update cocoapods xcodeproj
          cd ios && pod install && cd ..
      - name: Prepare
        run: |
          brew tap wix/brew
          brew install applesimutils
          sh scripts/build-env.sh
          mv src/app.tsx src/app.tsx.old && cat src/app.tsx.old|perl -pe'BEGIN{undef $/;} s/if \(isJailBroken.+?}/\/\/ No root or jailbreak detection/gms' > src/app.tsx
    
      - run: yarn detox build e2e --configuration ios.sim.release
      - run: yarn cucumber-js ./e2e --configuration ios.sim.release --cleanup --loglevel trace

      - name: Upload artifact files
        if: ${{ always() }}
        uses: actions/upload-artifact@v2
        with:
          name: artifact
          path: e2e/artifacts/